<html>
<head>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
</head>
<body data-ng-app="app" data-ng-controller="dashboardController as dashboard" data-ng-init="dashboard.init()">
<div data-ng-include="'/assets/views/header.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Create a new City</button>
            </div>
        </div>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Enter New City Details</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label" for="create-city-name">Name</label>
                                        <input id="create-city-name" type="text" class="form-control"
                                               placeholder="Enter City Name"
                                               data-ng-model="dashboard.newcity.name"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="create-city-latitude">Latitude</label>
                                        <input id="create-city-latitude" type="text" class="form-control"
                                               placeholder="Enter City Latitude"
                                               data-ng-model="dashboard.newcity.latitude"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="create-city-longitude">Longitude</label>
                                        <input id="create-city-longitude" type="text" class="form-control"
                                               placeholder="Enter City Longitude"
                                               data-ng-model="dashboard.newcity.longitude"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-ng-click="dashboard.createCity()">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Distance Calculator</div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>City 1</label>
                                    <select class="form-control" data-ng-model="dashboard.locationCity1" data-ng-options="city.name for city in dashboard.allCities">
                                        <option value="">Select a City</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>City 2</label>
                                    <select class="form-control" data-ng-model="dashboard.locationCity2" data-ng-options="city.name for city in dashboard.allCities">
                                        <option value="">Select another City</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary" data-ng-click="dashboard.calculateDistance()">Calculate</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <h4>{{dashboard.distance}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <h5>{{dashboard.allCities.length}} Cities</h5>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row" data-ng-repeat="city in dashboard.allCities">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title"><a href="/cities/{{city.id}}">{{city.name}}</a></div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="city-latitude">Latitude</label>
                                    <input id="city-latitude" type="text" class="form-control" readonly
                                           data-ng-model="city.latitude"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="city-longitude">Longitude</label>
                                    <input id="city-longitude" type="text" class="form-control" readonly
                                           data-ng-model="city.longitude"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/app/app.js"></script>
<script src="/assets/app/factories/city.factory.js"></script>
<script src="/assets/app/controllers/dashboard/dashboard.controller.js"></script>
</body>
</html>